@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Arimo", sans-serif;
}
input:active {
  scale: 0.9;
}

button:active {
  scale: 0.9;
}
